page-password {

}

#img1{
    width: 100%;
    background: none;
    contain: none;
}

#img2{
    width: 70%;
    background: none;
    contain: none;
}

#input{
    background-color: none;
    background-image: url('../assets/imgs/4.png');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10px;
}

input{
    text-align: left;
    font-size: 45px;
    letter-spacing: 40px;
    text-transform: uppercase;
}

.text-input-md{
    margin: 13px 26px;
}

#input input::-webkit-input-placeholder {
    color:black;
    font-size: 70px;
    letter-spacing: -9px;
}

#real_pw{
    font-size: 0px;
}